{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid my-3">
   <h1>About Us</h1>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Architecto recusandae, deleniti quas ut illum laboriosam, incidunt sit quasi qui eaque odio accusamus dolor eveniet quos. Ducimus quae inventore non hic ab quasi ipsam odit minima!
        Autem, libero. Fuga, necessitatibus quae.</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, eveniet, vero magnam dolorum id ipsum nam repellendus, voluptates veniam illo ducimus voluptas delectus harum similique
                 esse nulla tenetur. Totam, magnam?</p>
</div>
{% endblock %}